body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.banner{
    margin-top: 15px;
}

.panel-default{
    min-height: 250px;
}
.big-icon{
    margin-top:30px;
    font-size:120px;
}
.dep-text{
    margin-top: -20px;
}

.dep-cont a, .dep-cont a:visited {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.dep-cont a:hover{
    color: cornflowerblue;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand{
    color: #595959;
}