@{
    ViewBag.Title = "eERP - About";
}

<div class="row banner">
    <div class="col-md-12">
        <div class="col-md-12 panel panel-default">
            <h1>eERP System</h1>
            <p class="lead">Please choose a department.</p>
            <p>
                If you want to read more about eERP (or see the source code) go
                <a href="https://github.com/mgolebiowski/SystemERP_ZTI">here</a>
            </p>
        </div>
    </div>
</div>