@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Mail:</strong>   <a href="mailto:mgol@student.agh.edu.pl">mgol@student.agh.edu.pl</a><br />
    <strong>Creator's portfolio:</strong> <a href="http://github.io/mgolebiowski">github.io/mgolebiowski</a>
</address>